{% extends 'mainapp/layout.html' %}
{% block title %}{{ title|capfirst }}{% endblock %}
{% load static %}
{% block content %}
    <div class="hero-white">
        {% include 'mainapp/includes/inc_main_menu.html' %}
    </div>
    <br>
    <div class="h2 text-center head">
        Ваши заказы,
        {% if user.first_name %}
            {{ user.first_name|title }}
        {% else %}
            Пользователь
        {% endif %}
    </div>
    <table class="table orders_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Создан</th>
            <th>Обновлен</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            {% if object.is_active %}
                <tr>
                    <td class="td1 orders_list">
                        <a href="{% url 'ordersapp:order_read' object.pk %}">
                            {{ object.pk }}
                        </a>
                    </td>
                    <td>{{ object.created|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ object.updated|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ object.get_status_display }}</td>
                    <td>
                        <a href="{% url 'ordersapp:order_read' object.pk %}">
                            просмотреть
                        </a>
                        {% if object.status == 'FM' %}
                            <br>
                            <a href="{% url 'ordersapp:order_update' object.pk %}">
                                редактировать
                            </a>
                            <br>
                            <a href="{% url 'ordersapp:order_forming_complete' object.pk %}">
                                завершить оформление
                            </a>
                        {% elif object.status == 'AP' %}
                            <br>
                            <a href="{% url 'ordersapp:order_payment' object.pk %}">
                                оплатить заказ
                            </a>
                        {% endif %}
                        {% if object.status != 'RDY' and object.status != 'CNC' %}
                            <br>
                            <a href="{% url 'ordersapp:order_delete' object.pk %}">
                                отменить заказ
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'ordersapp:order_create' %}" class="red-button rb">
       новый
    </a>
{% endblock %}

