{% extends 'adminapp/layout.html' %}
{% load static %}

{% block content %}
<div class="w-50 m-auto">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">{{ title|capfirst }}</h1>
            <p class="text-center">
                Уверены, что хотите
                {% if object.status != 'CNC' %}
                    отменить
                {% else %}
                    восстановить
                {% endif %}
                {{ object }} пользователя {{ object.user.username }}?
            </p>
        </div>
    </div>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" class="btn btn-round btn-danger form-control"
               value="{% if object.status != 'CNC' %}Отменить{% else %}Восстановить{% endif %}">
    </form>

    <button class="btn btn-round form-control last">
        <a href="{% url 'admin_panel:orders_list' object.user.pk %}">
            Заказы пользователя {{ object.user.username }}
        </a>
    </button>
    <button class="btn btn-round form-control last">
        <a href="{% url 'admin_panel:orders_list' 0 %}">
            Все заказы
        </a>
    </button>
</div>
{% endblock %}