{% extends 'authapp/layout.html' %}
{% load static %}

{% block title %}{{ title|capfirst }}{% endblock %}
{% block content %}

    {% if messages %}
        <br>
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %}
                    class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}

    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>
    <button class="btn btn-round form-control">
        <a href="{% url 'authapp:register' %}" class="">
            Ещё не зарегистрированы? Создать аккаунт
        </a>
    </button>
    <br>
    <button class="btn btn-round form-control">
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
            Вход через ВКонтакте
        </a>
    </button>


{% endblock %}